/* 
  SECTIONS THE DOCUMENT SPLITTED IN:

    - Header
    - Welcome
    - Partnership
    - Apps_features
    - Jackpot
    - Designed
    - Advantages
    - Companyfeatures
*/

/* Reset browser defautls  */

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
input[type=submit] {
    border: none;
}

/* --- Variables --- */
:root {
    --primary-clr: #242f51;
    --secondary-clr: #616368;
}

/* --- Grid classes --- */

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-wrap-block {
    margin-top: 50px;
}
.section-headline p {
    margin: 1.3em 0;
    font-size: 1.1rem;
}
.headline-center {
    margin: 0 auto;
    text-align: center;
    max-width: 650px;
}
.section-banner {
    flex-basis: 40%;
}
.section-banner img {
    width: 100%;
    max-width: 500px;
}
.section-content {
    flex-basis: 46%;
}

/* -- Common styling & visual classes -- */
h2 {
    color: var(--primary-clr);
    font-size: 2rem;
    font-weight: 600;
}
.active-btn {
    display: inline-block;
    padding: .7em 2em;
    color: #fff;
    background-color: #2500f9;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color .25s;
}
.active-btn:hover {
    background-color: #583aff;
}
.zindex-100 {
    position: relative;
    z-index: 100;
}
.service-desc {
    margin-top: 30px;
}
.service-desc h6 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5em;
}
.service-icon {
    width: 100px;
    background-color: rgba(245, 239, 239, .5);
    padding: 8px 12px;
    border-radius: 50%;
}
.service-icon img {
    width: 100%;
    max-width: 58px;
    /* max-width: 64px; */
    padding: 2px;
    transition: transform .25s;
}
.service-icon img:hover {
    transform: rotate(35deg);
}

/* --- Header Section --- */

header {
    width: 100%;
    padding-top: 50px;
    /* margin-bottom: 200px; */
    /* position: fixed; */
    /* z-index: 101; */
    background-color: #fff;
}
.container {
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
}
.logotype-block {
    font-size: 1.7rem;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 15%;
}
.logotype-block span {
    color: #fcae61;
}
nav ul {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    text-align: center;
}
nav ul a {
    color: #000;
    font-size: 1rem;
    padding: 0 .9em;
}
.try-btn {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}
.try-btn a {
    display: inline-block;
    padding: .6em 1.5em;
    color: #fff;
    background-color: #2500f9;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color .25s;
}

.try-btn a:hover {
    background-color: #583aff;
}

/* --- Welcome section --- */

.welcome-section {
    width: 100%;
    min-height: 825px;
    background-image: url('./images/bg-city-min.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 250px;
}
.welcome-block {
    padding: 35px 50px;
}
.ranking-block {
    width: 100%;
    max-width: 330px;
    padding: 0 1em;
    background-color: #e2eaed;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.ranking-block .checkmark {
    color: #fff;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .3em .7em;
    margin-left: -17px;
    border-radius: 50px;
    background-color: #feaa25;
}
.ranking-block div:last-child {
    margin-left: .5em;
    padding: .3em 0;
    font-size: 1.1rem;
}
.welcome-block h1 {
    color: var(--primary-clr);
    font-size: 3.5rem;
    line-height: 1.25em;
    font-weight: 600;
}
.welcome-btns {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome-btns a:last-child {
    margin-left: .9em;
    color: #2500f9;
    /* white-space: nowrap; */
}

/* --- Partnership section --- */

.partnership-section {
    padding-top: 100px;
    text-align: center;
}
.partnership-section h4 {
    font-weight: 500;
}
.partnership-block {
    padding: 30px 120px;
}
.partnership-block img {
    width: 100%;
    padding: 0 15px;
    transition: transform .4s;
}
.partnership-block img:hover {
    transform: scale(1.1);
}

/* --- apps_features section --- */

.apps_features-section {
    padding: 100px 0;
    position: relative;
}
.features-block {
    margin-top: 50px;
}
#features-figure {
    max-width: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.features-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.apps_features-section .service-desc {
    margin-left: 35px;
    margin-top: 0;
}
.heading-pink {
    color: #f55767;
}
.heading-blue {
    color: #2563ff;
}
.heading-green {
    color: #40975f;
}

/* --- Jackpot section --- */

.jackpot-section {
    padding: 0 110px;
}
.jackpot-block {
    padding: 0 30px;
}
.jackpot-head:first-child {
    padding-right: 30px;
}
.jackpot-head:last-child {
    padding-left: 30px;
}
.jackpot-head:first-child {
    border-right: 2px solid rgba(0, 0, 0, .1);
}
.jackpot-features {
    padding: 80px 0;
    margin-right: 30px;
    align-self: flex-start;
}

/* --- Designed section --- */

.designed-section {
    padding: 60px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.designed-section .section-banner {
    flex-basis: 50%;
}
.designed-section .section-banner img {
    max-width: 600px;
}
.designed-section .section-content {
    flex-basis: 45%;
}

/* --- Advantages section --- */

.advantages-section {
    padding: 120px 130px 0;
}
.advantages-section .flex-wrap-block {
    flex-basis: 30%;
}

/* colorizing icons' circles */
#icon_development {
    background-color: #ffecef;
}
#icon_awards {
    background-color: #eaf9ff;
}
#icon_cloudstorage {
    background-color: #fff6d3;
}
#icon_customization {
    background-color: #e4ffee;
}
#icon_ui {
    background-color: #f4f4ff;
}
#icon_support {
    background-color: #fdeee4;
}

/* --- Companyfeatures section --- */

.company_features-section {
    padding-top: 150px;
    padding-bottom: 50px;
}
.company_features-section .section-headline {
    max-width: 50ch;
}
.company_features-section .flex-wrap {
    flex-basis: 58%;
    margin-bottom: 30px;
}
.company_features-section .flex-wrap-block {
    flex-basis: 45%;
}

/* --- Subscription section --- */

.subscription-section {
    padding-top: 120px;
}
.hide-radio {
    display: none;
}
.subscription-block form {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
}
.label-radio {
    cursor: pointer;
    flex-basis: 47%;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.15);
    border: 1px solid #fff;
    transition: border .15s, transform .35s;
}
.subs-headline {
    padding: 30px;
    background-color: rgba(218, 236, 255, 0.5);
}
.subs-price {
    font-size: 2rem;
}
.subs-type {
    font-size: 1.2rem;
    font-weight: 600;
}
.subs-desc {
    color: rgba(153, 156, 165, .85);
}
.subs-features {
    padding: 0 20px 30px;
}
.subs-features ul li {
    margin: 2em 0;
    color: rgba(153, 156, 165, .8);
}
.trial-btn {
    margin-top: 1.1em;
    display: inline-block;
    color: blueviolet;
    transition: opacity .25s;
}
.trial-btn:hover {
    opacity: .65;
}
input[type=radio]:hover + .label-radio {
    transform: scale(1.03);
}
input[type=radio]:checked + .label-radio {
    border: 2px solid rgba(0,0,0,.2);
    transform: scale(1.03);
}
.subs-features input[type=submit] {
    padding: 1em 3em;
}