/* 
  SECTIONS THE DOCUMENT SPLITTED IN:

    - .header
    - .welcome-section
    - .partnership-section
    - .apps_features-section
    - .jackpot-section
    - .designed-section
    - .advantages-section
    - .company_features-secion
    - .subscription-section
    - .testimonials-section
    - .faq-section
    - .download-section
    - .footer
*/

/* Reset browser defautls  */

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #242f51;
}
ul {
    list-style-type: none;
}
input[type=submit] {
    border: none;
}

/* --- Variables --- */
:root {
    --primary-clr: #242f51;
    --secondary-clr: #616368;
}

/* --- Grid & layout structure --- */
.container {
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-wrap-block {
    margin-top: 50px;
}
.section-headline p {
    margin: 1.1em 0;
    font-size: 1.1rem;
}
.headline-center {
    margin: 0 auto;
    text-align: center;
    max-width: 650px;
}
.section-banner {
    flex-basis: 40%;
}
.section-banner img {
    width: 100%;
    max-width: 500px;
}
.section-content {
    flex-basis: 46%;
}

/* -- Common styling & visual patterns -- */
h2 {
    color: var(--primary-clr);
    font-size: 2rem;
    font-weight: 600;
}
p {
    color: var(--secondary-clr);
}
.active-btn {
    display: inline-block;
    padding: .7em 2em;
    color: #fff;
    background-color: #2500f9;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color .25s;
}
.active-btn:hover {
    background-color: #583aff;
}
.service-desc {
    margin-top: 30px;
}
.sub-heading {
    color: var(--primary-clr);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5em;
    transition: color .25s;
}
.service-icon {
    width: 100px;
    background-color: rgba(245, 239, 239, .5);
    padding: 8px 12px;
    border-radius: 50%;
    text-align: center;
}
.service-icon img {
    width: 100%;
    max-width: 58px;
    padding: 2px;
    transition: transform .25s;
}
.service-icon img:hover {
    transform: rotate(35deg);
}

/* --- Header Section --- */
.header {
    width: 100%;
    padding-top: 50px;
    background-color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
}
.logotype-block {
    font-size: 1.7rem;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 15%;
}
.logotype-block span {
    color: #fcae61;
}
.nav-menu {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    text-align: center;
}
.nav-menu li {
    color: #000;
}
.nav-icon {
    display: none;
}
.nav-menu a {
    font-size: 1rem;
    padding: 0 .9em;
    transition: opacity .25s;
}
.nav-menu a:hover {
    opacity: .65;
}
.try-btn {
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}
.try-btn a {
    display: inline-block;
    padding: .6em 1.5em;
    color: #fff;
    background-color: #2500f9;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color .25s;
}
.try-btn a:hover {
    background-color: #583aff;
}

/* --- Welcome section --- */
.welcome-section {
    width: 100%;
    min-height: 825px;
    background-image: url('./images/bg-city-min.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 250px;
}
.welcome-block {
    padding: 35px 50px;
}
.ranking-block {
    width: 100%;
    max-width: 330px;
    padding: 0 1em;
    background-color: #e2eaed;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.ranking-block .checkmark {
    color: #fff;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .3em .7em;
    margin-left: -17px;
    border-radius: 50px;
    background-color: #feaa25;
}
.ranking-block div:last-child {
    margin-left: .5em;
    padding: .3em 0;
    font-size: 1.1rem;
    white-space: nowrap;
}
.welcome-block h1 {
    color: var(--primary-clr);
    font-size: 3.2rem;
    line-height: 1.25em;
    font-weight: 600;
}
.welcome-btns {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome-btns a:last-child {
    margin-left: .9em;
    color: #2500f9;
    white-space: nowrap;
}

/* --- Partnership section --- */
.partnership-section {
    padding-top: 100px;
    text-align: center;
}
.partnership-section h4 {
    font-weight: 500;
}
.partnership-block {
    padding: 30px 120px;
}
.partnership-block img {
    width: 100%;
    padding: 0 15px;
    transition: transform .4s;
}
.partnership-block img:hover {
    transform: scale(1.1);
}

/* --- apps_features section --- */
.apps_features-section {
    padding: 100px 0;
    position: relative;
}
.features-block {
    margin-top: 40px;
}
.features-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.apps_features-section .service-desc {
    margin-left: 35px;
    margin-top: 0;
}
.apps_features-section .service-icon {
    width: 120px;
}
.heading-pink {
    color: #f55767;
}
.heading-blue {
    color: #2563ff;
}
.heading-green {
    color: #40975f;
}

/* --- Jackpot section --- */
.jackpot-section {
    padding: 0 110px;
}
.jackpot-headline {
    padding-right: 30px;
    border-right: 2px solid rgba(0, 0, 0, .1);
}
.jackpot-desc {
    padding-left: 30px;
}
.jackpot-features {
    padding: 80px 0;
    flex-basis: 30%;
    align-self: flex-start;
}

/* --- Designed section --- */
.designed-section {
    padding: 60px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.designed-section .section-banner {
    flex-basis: 50%;
}
.designed-section .section-banner img {
    max-width: 600px;
}
.designed-section .section-content {
    flex-basis: 45%;
}

/* --- Advantages section --- */
.advantages-section {
    padding: 120px 130px 0;
    text-align: center;
}
.advantages-section .service-icon {
    margin: 0 auto;
}
.advantages-section .flex-wrap-block {
    flex-basis: 30%;
}

/* colorizing icons' background */
#icon_development {
    background-color: #ffecef;
}
#icon_awards {
    background-color: #eaf9ff;
}
#icon_cloudstorage {
    background-color: #fff6d3;
}
#icon_customization {
    background-color: #e4ffee;
}
#icon_ui {
    background-color: #f4f4ff;
}
#icon_support {
    background-color: #fdeee4;
}

/* --- Companyfeatures section --- */
.company_features-section {
    padding-top: 150px;
    padding-bottom: 50px;
}
.company_features-section .section-headline {
    max-width: 50ch;
}
.company_features-section .flex-wrap {
    flex-basis: 58%;
    margin-bottom: 30px;
}
.company_features-section .flex-wrap-block {
    flex-basis: 45%;
}
.company_features-block {
    width: 100%;
    position: relative;
}

/* --- Subscription section --- */
.subscription-section {
    padding-top: 150px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.hide-radio {
    display: none;
}
.subscription-block form {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
}
.label-radio {
    cursor: pointer;
    flex-basis: 47%;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.15);
    border: 1px solid #fff;
    transition: border .15s, transform .35s;
    border-radius: 5px;
}
.subs-headline {
    padding: 30px;
    background-color: rgba(218, 236, 255, 0.5);
}
.subs-price {
    font-size: 2rem;
}
.subs-type {
    font-size: 1.2rem;
    font-weight: 600;
}
.subs-desc {
    color: rgba(153, 156, 165, .85);
}
.subs-features {
    padding: 0 20px 30px;
}
.subs-features ul li {
    margin: 2em 0;
    color: rgba(153, 156, 165, .8);
}
.trial-btn {
    margin-top: 1.1em;
    display: inline-block;
    color: blueviolet;
    transition: opacity .25s;
}
.trial-btn:hover {
    opacity: .65;
}
input[type=radio]:hover + .label-radio {
    transform: scale(1.03);
}
input[type=radio]:checked + .label-radio {
    border: 2px solid rgba(0,0,0,.2);
    transform: scale(1.03);
}
.subs-features input[type=submit] {
    padding: 1em 3em;
    cursor: pointer;
}

/* --- Testimonials section --- */
.testimonials-section {
    padding-top: 150px;
}
.testimonials-section .section-banner {
    flex-basis: 57%;
}
.testimonials-section .section-banner img {
    max-width: 800px;
}
.testimonials-section .section-content {
    flex-basis: 40%;
}
.testimonial-content {
    margin-top: 50px;
}
.testimonial-content p {
    font-size: 1.1rem;
}
.testimonial-author {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.author-pic {
    max-width: 84px;
    margin-right: 30px;
}
.author-pic img {
    width: 100%;
    border-radius: 50%;
}
.author-status div {
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 1.2rem;
}

/* --- FAQ section --- */
.faq-section {
    padding-top: 150px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.faq-list {
    margin: 80px auto 0;
    max-width: 900px;
}
.faq-list li {
    margin-top: 25px;
    background-color: rgba(235, 235, 235, .45);
    border-radius: 5px;
}
.faq-question {
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-question:hover .sub-heading {
    color: #21547d;
}
.faq-question .sub-heading {
    margin: 0;
}
.faq-btn {
    font-size: 2.1rem;
    transition: transform .35s;
}
.faq-answer {
    overflow: hidden;
    max-height: 0;
    padding: 0 35px;
    transition: max-height .25s ease-in-out, padding .2s;
}
.faq-answer_opened {
    max-height: 250px;
    padding: 15px 35px;
    transition: max-height .55s ease-out;
}
/* js toggler classes */
.faq-btn_rotated {
    transform: rotate(45deg);
}
.faq-heading_active {
    color: #21547d;
}

/* --- Download section --- */
.download-section {
    padding-top: 100px;
}
.download-links img {
    width: 100%;
    margin-right: 10px;
    max-width: 190px;
    transition: transform .35s;
}
.download-links img:hover {
    transform: scale(1.03);
}
.download-section .section-content {
    flex: 0;
    flex-grow: 1;
}
.download-section .section-banner {
    flex-basis: 50%;
}
.download-section .section-banner img {
    max-width: 2000px;
}

/* --- Footer --- */
.footer {
    padding: 120px 0;
    min-height: 300px;
    background-color: #09142e;
    text-align: center;
}
.footer .logotype-block {
    color: #fff;
}
.footer-nav {
    margin: 50px auto;
    max-width: 500px;
}
.footer-nav a {
    font-size: 1.1rem;
    color: #fff;
}
.footer-social li {
    display: inline-block;
    padding: 10px 20px;
}
.footer-social i {
    font-size: 2.3rem;
    color: rgb(47, 47, 100);
    transition: color .25s, transform .35s;
}
.footer-social a i:hover {
    color: #fff;
    transform: scale(1.1);
}

/* --------------------------------------  */
/* Breakpoints */

@media only screen and (max-width: 962px) {
    html {
        font-size: 85%;
    }

    /* -- Common styling & visual patterns -- */
    .service-icon {
        margin: 0 auto;
        width: 70px;
        padding: 8px 15px;
    }
    .service-icon img {
        max-width: 40px;
    }

    /* --- Welcome section --- */
    .welcome-section {
        min-height: 0;
    }
    .welcome-btns {
        justify-content: flex-start;
    }   

    /* --- Appsfeatures section --- */
    .apps_features-section {
        padding: 50px 0 100px;
    }

    /* --- Jackpot section --- */
    .jackpot-section {
        padding: 0 40px;
    }
    .jackpot-block {
        padding: 0;
        text-align: center;
    }
    .jackpot-features {
        margin-right: 0;
        padding: 80px 24px 50px;
    }

    /* --- Designed section --- */

    /* --- Advantages section --- */
    .advantages-section {
        padding: 100px 50px 0;
    }

    /* --- Companyfeatures section --- */
    .company_features-section {
        padding-top: 100px;
        padding-bottom: 0;
    }
    .company_features-section .service-icon {
        margin: 0;
    }

    /* --- Subscription section */
    .subscription-section {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    /* --- Testimonials section --- */
    .testimonials-section {
        padding-top: 80px;
    }

    /* --- FAQ section --- */
    .faq-section {
        padding-top: 100px;
    }

    /* --- Download section --- */
    .download-links img {
        max-width: 170px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }
    body {
        overflow-x: hidden;
    }

    /*  --- Grid & structure --- */
    .container {
        width: 90%;
    }
    .flex-column {
        flex-direction: column;
    }
    .section-banner img {
        max-width: 370px;
    }

    /* -- Common styling & visual patterns -- */
    .img-absolute_left {
        position: absolute;
        left: -120px; top: 50%;
        transform: translateY(-50%);
    }
    .img-absolute_right {
        position: absolute;
        right: -90px; top: 50%;
        transform: translateY(-50%);
    }


    /* --- Header --- */
    .header {
        padding-top: 35px;
    }
    .header-pt_toggler {
        padding-top: 170px;
    }
    .nav-menu {
        position: fixed;
        z-index: 9;
        display: block;
        padding: 10px;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        transform: translateY(-200px);
        transition: transform .7s, background-color 1s;
    }
    .nav-menu_toggler {
        background-color: rgb(255, 246, 241); 
        transform: translateY(0);
        transition: transform .5s, background-color 1s;
    }
    .nav-item {
        padding: .3em 0;
    }
    .nav-menu a {
        font-size: 1.35rem;
    }
    .nav-logotype_toggler {
        position: fixed;
        top: 10px; left: 10px;
        z-index: 10;
        font-size: 2rem;
        font-weight: 500;
        opacity: .8;
    }
    .nav-icon {
        display: block;
        font-size: 2rem;
    }
    .nav-icon_toggler {
        position: fixed;
        top: 0; right: 8px;
        z-index: 10;
    }
    .try-btn {
        display: none;
    }

    /* --- Welcome section --- */
    .welcome-block {
        padding: 30px 20px;
    }
    .welcome-block .section-banner {
        flex-basis: 35%;
    }
    .welcome-block h1 {
        font-size: 2rem;
    }

    /* --- Appsfeatures section --- */
    

    /* --- Partnership section --- */
    .partnership-block {
        padding: 0;
    }
    .partnership-block a {
        padding: 20px 5px;
        text-align: center;
    }
    .partnership-block img {
        width: 100%;
    }

    /* --- Jackpots section --- */
    .jackpot-section {
        padding: 0 10px;
    }
    .jackpot-block:first-child {
        padding: 0 50px;
    }
    .jackpot-features {
        padding: 80px 16px;
    }
    .jackpot-headline {
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 2px solid rgba(0,0,0,.1);
        border-right: none;
    }
    .jackpot-desc {
        padding: 0;
    }

    /* --- Advantages section --- */
    
    /* --- Companyfeatures section --- */
    .company_features-section .section-banner img {
        max-width: 300px;
    }


    /* --- Subscription section --- */
    .subscription-block form {
        max-width: 500px;
    }

    /* --- Testimonials section --- */
    .testimonials-section .section-banner img {
        max-width: 500px;
        display: none;
    }

    /* --- FAQ section --- */
    .faq-list {
        max-width: 650px;
    }

    /* --- Download section --- */
    .download-section .section-banner img {
        max-width: 400px;
    }
    .download-links img {
        max-width: 130px;
    }
}


@media only screen and (max-width: 576px) {
    html {
        font-size: 85%;
    }

    /*  --- Grid & structure --- */
    .flex-between {
        flex-direction: column;
    }
    .section-banner img {
        max-width: 190px;
    }
    .flex-wrap-block {
        margin-top: 35px;
    }

    /* -- Common styling & visual patterns -- */
    .active-btn {
        padding: .4em 1.3em;
        font-size: 1em;
    }
    .section-headline h2 {
        font-size: 1.5rem;
    }
    .sub-heading {
        font-size: 1.15rem;
    }
    .service-desc {
        margin-top: 20px;
    }
    .service-icon {
        width: 48px;
        padding: 2px 8px;
    }
    .service-icon img {
        padding: 5px;
    }

    /* --- Header --- */
    .header {
        padding-top: 20px;
    }
    .header-pt_toggler {
        padding-top: 170px;
    }
    .nav-logotype_toggler {
        font-size: 1.5rem;
    }
    .nav-menu a {
        font-size: 1.15rem;
    }

    /* --- Welcome section ---  */
    .welcome-section {
        min-height: 100vh;
        background-size: 100% 400px;
    }
    .welcome-block {
        padding: 40px 0px;
    }
    .welcome-block .section-banner img {
        margin-top: 20px;
        max-width: 25vh;
    }
    .welcome-block .section-headline p {
        margin: 1.5em 0;
    }
    .ranking-block {
        max-width: 280px;
        padding: 0 1.3em;
    }
    .ranking-block div:last-child {
        white-space: normal;
        font-size: 1rem;
    }
    .welcome-btns a:last-child {
        margin-left: 1.2em;
        font-size: .9em;
        white-space: normal;
    }

    /* --- Partneship section --- */
    .partnership-section {
        padding-top: 50px;
    }
    .partnership-block {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .partnership-block a {
        padding: 15px 5px;
    }
    .partnership-block a img {
        max-width: 110px;
    }


    /* --- Appsfeatures section --- */
    .apps_features-section {
        padding: 50px 0 70px;
    }
    .img-absolute_left {
        position: static;
        transform: none;
        margin-top: 15px;
    }
    .features-block {
        margin-top: 30px;
    }
    .features-row {
        margin-bottom: 25px;
    }

    /* --- Jackpot section --- */
    .jackpot-section {
        padding: 15px 0;
    }
    .jackpot-block:first-child {
        padding: 0;
        margin-bottom: 15px;
    }
    .jackpot-headline h2 {
        font-size: 1.5rem;
    }
    .jackpot-features {
        padding: 20px 5px;
    }

    /* --- Designed section --- */
    .designed-section .section-banner img {
        max-width: 270px;
    }
    .designed-block .section-banner {
        margin-bottom: 20px;
    }

    /* --- Advantages section --- */
    .advantages-section {
        padding: 70px 0px 0;
    }
    .advantages-section .flex-wrap-block {
        flex-basis: 45%;
    }

    /* --- Companyfeatures section --- */
    .company_features-section {
        padding-top: 80px;
    }
    .company_features-section .flex-wrap {
        flex-basis: 80%;
    }
    .company_features-section .flex-wrap-block {
        margin-top: 20px;
    }
    .company_features-section .section-banner img {
        max-width: 190px;
    }
    .img-absolute_right {
        position: static;
        transform: none;
    }
    .flex-reverse {
        flex-direction: column-reverse;
    }

    /* --- Subscription section --- */
    .subscription-section {
        padding-top: 70px;
    }
    .subscription-block form {
        margin-top: 35px;
        max-width: 370px;
    }
    .subs-headline {
        padding: 10px;
    }
    .subs-price {
        font-size: 1.25rem;
    }
    .subs-type {
        font-size: 1rem;
    }
    .subs-desc {
        font-size: .9rem;
    }
    .subs-features {
        padding: 0 16px 30px;
    }
    .subs-features ul li {
        font-size: .85rem;
    }
    .subs-features input[type=submit] {
        padding: 5px 15px;
        font-size: .95rem;
    }
    .trial-btn {
        font-size: .85rem;
    }

    /* --- Testimonials section --- */
    .testimonial-content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 10px 25px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    }
    .testimonial-text {
        flex-basis: 65%;
    }
    .testimonial-text p {
        font-size: .85rem;
    }
    .testimonial-author {
        text-align: center;
        flex-basis: 25%;
        flex-direction: column;
        margin-top: 10px;
    }
    .author-status div {
        font-size: .9rem;
    }
    .author-status p {
        font-size: .8rem;
    }
    .author-pic {
        margin: 0 auto;
        max-width: 36px;
    }

    /* --- FAQ section --- */
    .faq-section {
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .faq-list {
        margin: 30px auto 0;
    }
    .faq-list li {
        margin-top: 15px;
    }
    .faq-question {
        padding: 6px 10px;
    }
    .faq-btn {
        font-size: 1.4rem;
        margin-left: .4em;
    }
    .faq-question .sub-heading {
        font-size: .95rem;
    }
    .faq-answer {
        font-size: .8rem;
    }

    /* --- Download secton --- */
    .download-section {
        padding-top: 70px;
    }
    .download-section .section-banner img {
        max-width: 300px;
    }
    .download-links img {
        max-width: 120px;
    }

    /* --- Foooter --- */
    .footer {
        padding: 30px 0;
        /* min-height: 300px; */
    }
    .footer .logotype-block {
        font-size: 1.4rem;
    }
    .footer-nav {
        margin: 20px 20px;
    }
    .footer-nav li {
        margin: .2em 0;
    }
    .footer-nav li a {
        font-size: .9rem;
    }
    .footer-social li a i {
        font-size: 1.9rem;
    }
}